{% extends "base.html" %}


{% block content %}
{% comment %} <a class="navbar-brand" href="#">
    <form method="POST" action = "{% url "logout" %}">
      {% csrf_token %}
      <button type="submit" class="btn btn-outline-secondary">выйти</button>

    </form>
  </a> {% endcomment %}



  <div class="profile-wrapper">
    <div class="profile-banner">
      <img src="/media/{{another_user_profile.baner}}" alt="Banner" class="banner-image">
    </div>
    
    <div class="profile-info">
      <img src="/media/{{another_user_profile.profile}}" alt="User Avatar" class="profile-avatar">
      <div class="profile-details">
        <h1 class="profile-name">{{another_user.username}}</h1>
        <p class="profile-username">@j-{{another_user.username}}</p>
        <p class="profile-bio">{{another_user_profile.bio}}</p>
      </div>
      <button class="profile-button">Follow</button>
    </div>  
    
    <div class="profile-content"> 
      <div class="tabs">
        <button class="tab active">Posts</button>
        <button class="tab">About</button>
        <button class="tab">Friends</button>
      </div>
      
      
      <div class="posts">

        {% for post in posts %}
        <div class="post">
           <a href="{% url "id_post" post.id %}"><p class="post-text">{{post.name}}</p></a>
          <img src="{{post.image.url}}" alt="Post Image" class="post-image">
          <div class="post-stats">
            {% comment %} <span>❤️ 120</span> {% endcomment %} 
            💬 {{coment_count}}</span> 
          </div>
          {% endfor %}
      </div>

    </div>
  </div>
  

{% endblock content %}