{% extends "base.html" %}

{% block content %}


<div class="login_cont">
<div class="login-container">
  <div class="login-box">
    <h1 class="login-title">Добро пожаловать в FrogNet</h1>
    <img class="login-logo" src="/media/frog.png" alt="FrogNet Logo">

    <form method="POST" class="login-form">
      {% csrf_token %}
      {% for f in form %}
        <div class="input-group">
          <label for="{{ f.id_for_label }}">{{ f.label }}</label>
          {{ f }}
        </div>
      {% endfor %}

      <button type="submit" class="btn-primary">Войти</button>
    </form>

    <div class="login-links">
      <a href="{% url 'register' %}" class="btn-secondary">Создать аккаунт</a>
      <a href="{% url 'post_list' %}" class="btn-guest">Войти как гость</a>
    </div>
  </div>
  <footer>FrogNet © 2024-2025</footer>
</div>
</div>


{% endblock content %}