{% extends "base.html" %}
{% comment %} {% extends "base.html" %}


{% block content %}

    <div class="main_margin">
        <div class="main_center">
            {% for post in posts %}
        

            <h1>{{post.name}}</h1>
            <p>{{post.description}}</p>
            
            <img class = "image_post" src="{{post.image.url}}" alt="">
            
            {% if user.id == post.author.id %}
            <a href="{% url "profile" %}">{{post.author}}</a>
            {% else %}
            <a href="{% url "profile" post.author.id %}">{{post.author}}</a>
            {% endif %}
            <button><a href="{% url "id_post" id=post.id %}">Читать статью</a></button>
        {% endfor %}
        </div>
        
    </div>

{% endblock content %} {% endcomment %}




{% block content %}

<div class="blog-container">
    {% for post in posts %}
    <div class="post-card">
        <img class="post-image" src="{{ post.image.url }}" alt="Изображение поста">

        <div class="post-content">
            <h2 class="post-title">{{ post.name }}</h2>
            <p class="post-description">{{ post.description }}</p>

            <div class="post-footer">
                {% if user.id == post.author.id %}
                <a class="post-author" href="{% url 'profile' %}">{{ post.author }}</a>
                {% else %}
                <a class="post-author" href="{% url 'profile' post.author.id %}">{{ post.author }}</a>
                {% endif %}
                
                <a class="btn-read" href="{% url 'id_post' id=post.id %}">Читать статью</a>
            </div>
        </div>
    </div>
    {% endfor %}
</div>

{% endblock content %}
